/*logo animation*/
@keyframes growFadeIn {
    from {
      width: 25px;
      opacity: 0;
    }
    to {
      width: 475px;
      opacity: 1;
    }
  }

#logo {
    animation: growFadeIn 5s;
 }

 /*edits to body*/
body {
    font-family: "Poppins", serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
 }

 /*edits to header*/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}

/*edits to nav_links*/
.nav_links {
  display: flex;
  flex-direction: column;
}

/*challenge problem, same color links*/
a:link, a:visited {
  color: #413eff;
  text-decoration: underline;
}

/*styling card header*/
.card > header {
  background-color: #288088;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 50px 50px 0 0;
}

/*edits to card*/
.card {
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 1 450px;
}

/*edits to pricing*/
.pricing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/*gallery image styling*/
.gallery img {
  border: 10px solid #50C7C7;
  margin: 10px;
  width: 300px;
}

/*edits to gallery class*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/*style for screen-size is greater than 900px*/
@media (min-width: 900px) {

  /*edits to header*/
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  /*edits to nav_links*/
  .nav_links {
      flex-direction: row;
      justify-content: flex-end;
  }

  /*edits to pricing*/
  .pricing {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
  }

  /*edits to card*/
  .card {
      flex: 0 1 275px;
  }

  /*challenge problem, first header*/
  body > header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }

  main {
      margin-top: 100px;
  }
}

/*style for users who prefer reduced motion*/
@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

/*styles for when the page is printed in portrait mode*/
@media print and (orientation: portrait) {

  body {
      font-family: Arial, Helvetica;
      background-image: none;
  }

  header {
      flex-direction: column;
      justify-content: space-around;
  }

  .nav_links {
      flex-direction: row;
      justify-content: space-between;
      gap: 150px;
  }

  /*edits to pricing*/
  .pricing {
      display: flex;
      align-items: flex-end;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
  }

  /*edits to card*/
  .card {
      border: 2px solid #45ADDD;
      flex: 0 1 325px;
  }

  /*hide gallery*/
  .gallery, #gallery {
      display: none;
  }

  /*challenge problem, thumbs up*/
  main ul > li:nth-child(2)::after {
      content: ' 👍';
  }
}
